html {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: -ms-grid;
  display: grid;
  --bg:rgb(250, 217, 145);
  --bg-panel: #EBEBEB;
  --color-headings: rgb(23, 24, 24);
  --color-text: #2b2828;
  --background-image: linear-gradient(to left, black, grey, black);
  --category-titles: linear-gradient(to left, grey, black);
  --title-color: rgb(255, 255, 255);
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: rgb(56, 54, 54);
  --color-headings: lightblue;
  --color-text: gold;
  --background-image: linear-gradient(to left, lightblue, gold, lightblue);
  --category-titles: linear-gradient(to left, red, yellow);
  --title-color: gold;
}

body {
  background-color: var(--bg);
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.imgframe {
  height: 360px;
  width: 530px;
  margin-left: 600px;
}
.videotitle {
  background-image: var(--category-titles);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
  margin-left: 400px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.frame {
  height: 360px;
  width: 630px;
  margin-left: 240px;
  margin-bottom: 35px;
}
.frame1 {
  height: 360px;
  width: 630px;
  margin-left: 280px;
  margin-bottom: 35px;
}
.onelove {
  margin-top: -480px;
  
}
.videocategory {
  text-align: left;
  color: var(--title-color);
  font-family: sans-serif;
  font-size:16px
}
.catergoriestitle {
  font-size: 25px;
  border-bottom: 1px solid grey;
  background-image: var(--background-image);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  font-family: sans-serif;
}
.titlebox {
  width: 115px;
  height: 56px;
  background: transparent;
  border: none;
  outline: none;
  border-top: 1.8px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1.8px solid black;
  color: var(--title-color);
  font-size: 17px;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  font-family: cursive;
  margin-top: -10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  margin-right: 90%;
  margin-top: 10px;
  text-align: center;
}

.titledisc {
  background: transparent;
  border: none;
  outline: none;
  color: #ce0000;
  font-size: 10px;
  margin-left: -15px;
  margin-top: -35px;
  font-family: monospace;
  text-align: left;
}

.titleheadings {
  text-align: center;
  color: var(--color-headings);
  margin-left: 480px;
  font-size: 26px;
}

.texttext {
  color: var(--color-text);
}
.introtext {
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
}

.toggle-container {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title switch" "content content";
}

.toggle-container h1 {
  margin: 0;
  color: var(--color-headings);
}

.toggle-container p {
  color: var(--color-text);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */